.movie-carousel {
  scroll-behavior: smooth;
  padding: 12px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.movie-item {
  flex: 0 0 auto;
  width: 150px;
}

.movie-poster {
  transition: transform 0.3s ease;
}

.movie-poster:hover {
  transform: scale(1.1);
}

.movies__title {
  border-bottom: 1px solid #e6ab15;
}
